/* small computers */
@media screen and (min-width: 769px) and (max-width: 1024px){

    .vr-navbar > form{
        position: relative;
        height: 5vh;
        margin-top: 0.1vh;        
    }


}


/* phones and tablets */
@media screen and (max-width: 768px){

    /* ----------------- TITLE ----------------- */

    .title img {
        height: 100%;
    }

    /* ----------------- NAVBAR ----------------- */

    .responsive-btns{
        display: fixed;
    }

}
