*::selection {
    background-color: var(--main-light-green-color);
    }

    :root{
      --main-light-green-color: #6e911b;
      --main-green-color: #4E6005;
      --main-dark-green-color: #2b4102;
      --main-green-fluor-transp-40-color: #2ee59d66;
      --main-green-btn-color: #4CAF50;
      --main-red-btn-color: #BF0404;
      --main-blue-link-color: #2eaaff;
      --main-skyblue-btn-color: skyblue;
      --main-white-color: white;
      --main-lightgray-color: lightgray;
      --main-almost-black: #1f1f1f;
      --main-black-color: black;
      --main-black-transp-80-color: #00000080;
      --main-black-transp-10-color: #0000001a;
      --main-gray-transp-30-color: #63636346;
    }

html, 
body {
  /* no poner height 100% xq no deja que el navbar le funcione el position sticky */
    width: 100%;
    margin: 0;
    padding: 0;
}

#about, 
#faq {
    min-height: 80vh;
    background-color: var(--main-white-color);
    min-width: 100%;
  }

#about h3,
#about p,  
#faq h3, 
#faq ul {
  max-width: 800px;
  margin: 0 auto;
}

/* titulos */
.about > h3, 
#productos > h3, 
#faq >h3, 
#contacto >h3, 
.footer-content > h1, 
.faq-tit {
    text-align: center;
}

/* titulos de igual color que selección o con fondo igual a selección de color */
.about > h3::selection, 
#productos > h3::selection, 
#faq >h3::selection, 
#contacto >h3::selection, 
.footer-content > h1::selection, 
.faq-tit::selection {
    background-color: var(--main-black-color);
    text-shadow: none;
}

/* secciones de de fondo de color */
#contacto, 
#productos {
    min-height: 50vh;
    background-color: var(--main-green-color);
    padding: 5%;
}

/* titulos de fondo de color */
#productos h3,
#contacto h3 {
  color: var(--main-white-color);
  text-shadow: 3px 3px var(--main-black-color);
}

.about,  
.faq{
padding: 5%;
max-width: 800px;
/* margin: 0 auto; */
}

/* ------------------- BACKGROUND IMG DECORACIÓN ------------------- */

.chala-border-up, 
.chala-border-down {
  display: inline-grid;
  background-image: url(../img/chala-c-efecto-04-03.svg); 
  background-repeat: repeat-x;
  width: 100%;
  height: 5%;
  background-color: var(--main-white-color);
}

.chala-border-down{
  transform: rotate(180deg);
  background-color: var(--main-white-color);
}

/* ------------------- BOTONES ------------------- */

/* grupo de botones de categorías en el home */
.cat-group {
    column-gap: 5%;
    margin: 5% 7%;
    display: inline-flex;
    position: relative;
  }

/* el botón de categorias en home */
  .cat-btn{
    box-shadow: 2px 8px 10px var(--main-black-color);
    background-color: transparent;
    border-radius:20px;
    border: 4px solid var(--main-white-color);
    color: var(--main-white-color);
  
    text-shadow:1px 1px 3px var(--main-black-transp-80-color);
  
    cursor:pointer;
  }
  
  .cat-btn:hover{
    background-color: var(--main-white-color);
  }
  
  .cat-i {
    padding: 2vw;
    cursor: pointer;
    font-size: 8vw;
    transition: all 0.3s ease 0s;
  }
  
  .cat-i:hover {
      color: var(--main-green-color);
      transform: translateY(7px);
  }

  .btn-more-info{
    margin: 0 auto;
    position: relative;
    display: block;
    max-width: 20vw;
  }

  /* botones alineados izq o der x ej en formularios */
  .btn-left{
    float: left;
    margin-top: 10px;
    min-width: 100px;
  }

  .btn-right{
    float: right;
    margin-top: 10px;
    min-width: 100px;
  }

  .btn-rounded {
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px var(--main-black-transp-10-color);
  }
  .btn-rounded:hover {
    box-shadow: 0px 15px 20px var(--main-green-fluor-transp-40-color);
    transform: translateY(7px);
  }

  .btn-full-green {
    background-color: var(--main-green-btn-color);
    color: var(--main-white-color);
  }

  .btn-full-green:hover {
    background-color: var(--main-green-color);
    color: var(--main-lightgray-color);
  }

  .btn-green-inverted {
    background-color: var(--main-white-color);
    color: var(--main-green-btn-color);
  }

  .btn-green-inverted:hover {
    background-color: var(--main-lightgray-color);
    color: var(--main-green-btn-color);
  }

  .btn-full-red {
    background-color: var(--main-red-btn-color);
    color: var(--main-white-color);
  }

  .btn-full-red:hover {
    background-color: var(--main-red-btn-color);
    color: var(--main-lightgray-color);
  }

  .btn-red-inverted {
    background-color: var(--main-white-color);
    color: var(--main-red-btn-color);
  }

  .btn-red-inverted:hover {
    background-color: var(--main-lightgray-color);
    color: var(--main-red-btn-color);
  }

/* ------------------- FORMULARIOS ------------------- */

/* para que el formulario no ocupe toda la pantalla */
.all-form {
  margin:0 auto;
  padding: 10px;
  max-width: 800px;
}

/* ------------------- SECCIONES ENCUADRADAS ------------------- */

.section-group{
  background-color: var(--main-dark-green-color);
  max-height: 500px;
  display:flex;
  width: 100%;
  padding: 2%;
  white-space: nowrap;
  overflow-x: scroll;
}

.section-group::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  margin: 1% auto;
}

.section-group::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: var(--main-dark-green-color);
  margin: 1% auto;
}

.section-group::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--main-light-green-color);
  margin: 1% auto;
}

.products-slide{
  padding: 0%;
  box-sizing: border-box;
  flex: 0 0 auto;
  display: inline-block;
  background-color: var(--main-green-color);
  border: 6px solid var(--main-black-color);
  border-radius: 10px;
  margin: 0 1%;
}

#cannabis-section, 
#tierra-section, 
#complementos-section, 
#comida-section {
  display: none;
}

.products-slide > img {
  height: 300px;
  border-radius: 3px;
}

/* ------------------- TITULO ------------------- */

  .title{
    padding: 2%;
    text-align: center;
    height: 80vh;
    z-index: -10;;
  }

  .title-txt{
      display: inline-grid;
      background-image: url(../img/grownline-logo-white-03.svg); 
      background-repeat: no-repeat;
      width: 100%;
      height: 50%;
      margin: 15% auto 0 auto;
      position: fixed;
      left: 0;
      top: 0;
      z-index: -10;
  }

  .title img{
    z-index: -10;
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  .subtitle{
    position: fixed;
    margin: 0 auto;
    display: block;
    top: 60%;
    left: 30%;
    color: var(--main-white-color);
    font-size: 2rem;
    font-weight: 500;
    /* background-color: black; */
    text-shadow: 4px 4px 4px var(--main-black-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    z-index: -10;;
  }

  /* ------------------- NAVBAR ------------------- */

  .vr-navbar {
    background-color: var(--main-green-color); /* ojo que está determinado en main.js*/
    padding: 1%; 
    box-shadow: var(--main-black-color) 0px 5px 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    z-index: 10;
  }

  .vr-navbar > ul{
    list-style-type: none;
    display: inline;
  }

  .vr-navbar > ul > li{
    display: inline-flex;
    margin: 0 1%;
  } 

  .vr-navbar > form{
      float: right;
      margin: -5 auto;
  }

  .vr-navbar > form > button, 
  .vr-navbar > form > a > button {
    margin: 0 2%;
    height: 100%;
  }
 
  .vr-nav-link, 
  .vr-nav-link a {
    color: var(--main-white-color);
  }

  .vr-nav-link:hover, 
  .vr-nav-link a:hover {
    color: var(--main-skyblue-btn-color);
  }

  .vr-nav-link:visited, 
  .vr-nav-link a:visited {
    color: var(--main-lightgray-color);
  }


  .navbar-logo {
    display: inline-grid;
    background-image: url(../img/grownline-logo-white-03.svg); 
    background-repeat: no-repeat;
    width: 13%;
    height: 4%;
  }

.responsive-btns{
  display: none;
}
/* ------------------- CAROUSEL ------------------- */


.carousel-item{
  max-height: 500px;
}

/* ------------------- FAQ ------------------- */

.faq > ul > li {
    margin: 5% auto;
}

.faq-tit {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2%;
    color: var(--main-green-color);
}

/* ------------------- CONTACTO ------------------- */

.contact-form > .form-floating {
  margin-top: 10px;
}

.contact-form {
  max-width: 800px;
  margin: 5% auto;
}
/* ------------------- FOOTER ------------------- */

.footer {
    height: 25vh;
    position: relative;
    position: -webkit-sticky; /* Safari */
    bottom: 0px;
    width: 100%;
    text-align: center;
  }
  
.footer-content{
    background-color: var(--main-black-color);
}

.footer-title{
    text-shadow: none;
    font-size: 2rem;
    color: var(--main-white-color);
}

.footer-ul {
display: inline-flex;
padding-left: 0;
}

.footer-ul > li {
display: inline-block;
}
  
.footer-icon {
    color: #fff;
    margin: 0 10px;
    font-size: 2rem;
}

.footer-icon:hover{
    color: var(--main-green-color);
}

/* FOOTER WAVES */

.waves-background{
  background-color: var(--main-green-color);
}

.flex-waves-content { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.content-waves {
    display: block;
    position:relative;
    height:30vh;
    text-align:center;
}
  
.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}
  
/* Animation */
  
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
}