*::selection {
    background-color: #39911b;
    }

html, 
body {
  /* no poner height 100% xq no deja que el navbar le funcione el position sticky */
    width: 100%;
    margin: 0;
    padding: 0;
}

#about, 
#faq {
    min-height: 80vh;
    background-color: white;
    min-width: 100%;
  }

#about h3,
#about p,  
#faq h3, 
#faq ul {
  max-width: 800px;
  margin: 0 auto;
}

/* titulos */
.about > h3, 
#productos > h3, 
#faq >h3, 
#contacto >h3, 
.footer-content > h1, 
.faq-tit {
    text-align: center;
}

/* titulos de igual color que selección o con fondo igual a selección de color */
.about > h3::selection, 
#productos > h3::selection, 
#faq >h3::selection, 
#contacto >h3::selection, 
.footer-content > h1::selection, 
.faq-tit::selection {
    background-color: black;
    text-shadow: none;
}

/* secciones de de fondo de color */
#contacto, 
#productos {
    min-height: 50vh;
    background-color: #39911b;
    padding: 5%;
}

/* titulos de fondo de color */
#productos h3,
#contacto h3 {
  color: white;
  text-shadow: 3px 3px black;
}

.about,  
.faq{
padding: 5%;
max-width: 800px;
/* margin: 0 auto; */
}

/* ------------------- BACKGROUND IMG DECORACIÓN ------------------- */

.chala-border-up, 
.chala-border-down {
  display: inline-grid;
  background-image: url(../img/chala-c-efecto-04-03.svg); 
  background-repeat: repeat-x;
  width: 100%;
  height: 5%;
  background-color: white;
}

.chala-border-down{
  transform: rotate(180deg);
  background-color: white;
}

/* ------------------- BOTONES ------------------- */

/* grupo de botones de categorías en el home */
.cat-group {
    column-gap: 5%;
    margin: 5% 7%;
    display: inline-flex;
    position: relative;
  }

/* el botón de categorias en home */
  .cat-btn{
    box-shadow: 2px 8px 10px #00000080;
    background-color: transparent;
    border-radius:20px;
    border: 4px solid #fff;
    color: #fff;
  
    text-shadow:1px 1px 3px #00000080;
  
    cursor:pointer;
  }
  
  .cat-btn:hover{
    background-color: #fff;
  }
  
  .cat-i {
    padding: 2vw;
    cursor: pointer;
    font-size: 8vw;
    transition: all 0.3s ease 0s;
  }
  
  .cat-i:hover {
      color: #39911b;
      transform: translateY(7px);
  }

  .btn-more-info{
    margin: 0 auto;
    position: relative;
    display: block;
    max-width: 20vw;
  }

  /* botones alineados izq o der x ej en formularios */
  .btn-left{
    float: left;
    margin-top: 10px;
    min-width: 100px;
  }

  .btn-right{
    float: right;
    margin-top: 10px;
    min-width: 100px;
  }

  .btn-rounded {
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
  .btn-rounded:hover {
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(7px);
  }

  .btn-full-green {
    background-color: #4CAF50;
    color: white;
  }

  .btn-full-green:hover {
    background-color: #367c39;
    color: lightgrey;
  }

  .btn-green-inverted {
    background-color: white;
    color: #4CAF50;
  }

  .btn-green-inverted:hover {
    background-color: lightgrey;
    color: #367c39;
  }

  .btn-full-red {
    background-color: #BF0404;
    color: white;
  }

  .btn-full-red:hover {
    background-color: #a30303;
    color: lightgray;
  }

  .btn-red-inverted {
    background-color: white;
    color: #BF0404;
  }

  .btn-red-inverted:hover {
    background-color: lightgray;
    color: #a30303;
  }

/* ------------------- FORMULARIOS ------------------- */

/* para que el formulario no ocupe toda la pantalla */
.all-form {
  margin:0 auto;
  padding: 10px;
  max-width: 800px;
}

/* ------------------- SECCIONES ENCUADRADAS ------------------- */

.section-group{
  background-color: green;
  max-height: 500px;
  display:flex;
  width: 100%;
  padding: 2%;
  white-space: nowrap;
  overflow-x: scroll;
}

.section-group::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  margin: 1% auto;
}

.section-group::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: darkgreen;
  margin: 1% auto;
}

.section-group::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: lightgreen;
  margin: 1% auto;
}

/* scroll bar hidden */
/* .section-group::-webkit-scrollbar, 
.section-group::-webkit-scrollbar-track, 
.section-group::-webkit-scrollbar-thumb, 
.section-group::-webkit-scrollbar-button {
  display: none;
} */


.products-slide{
  padding: 0%;
  box-sizing: border-box;
  flex: 0 0 auto;
  display: inline-block;
  background-color: green;
  border: 6px solid black;
  border-radius: 10px;
  margin: 0 1%;
}

#cannabis-section, 
#tierra-section, 
#complementos-section, 
#comida-section {
  display: none;
}

.products-slide > img {
  height: 300px;
  border-radius: 3px;
}

/* ------------------- TITULO ------------------- */

  .title{
    padding: 2%;
    text-align: center;
    height: 80vh;
    z-index: -10;;
  }

  .title-txt{
      display: inline-grid;
      background-image: url(../img/grownline-logo-02-02.svg); 
      background-repeat: no-repeat;
      width: 100%;
      height: 50%;
      margin: 15% auto 0 auto;
      position: fixed;
      left: 0;
      top: 0;
      z-index: -10;
  }

  .title img{
    z-index: -10;
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  .subtitle{
    position: fixed;
    margin: 0 auto;
    display: block;
    top: 60%;
    left: 30%;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    /* background-color: black; */
    text-shadow: 4px 4px 4px #000;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    z-index: -10;;
  }

  /* ------------------- NAVBAR ------------------- */

  .vr-navbar {
    background-color: #39911b;
    padding: 1%; 
    box-shadow: #000 0px 5px 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    z-index: 10;
  }

  .vr-navbar > ul{
    list-style-type: none;
    display: inline;
  }

  .vr-navbar > ul > li{
    display: inline-flex;
    margin: 0 1%;
  } 

  .vr-navbar > form{
      float: right;
      margin: -5 auto;
  }

  .vr-navbar > form > button, 
  .vr-navbar > form > a > button {
    margin: 0 2%;
    height: 100%;
  }

  .vr-nav-link, 
  .vr-nav-link a {
    color: white;
  }

  .navbar-logo {
    display: inline-grid;
    background-image: url(../img/grownline-logo-02-02.svg); 
    background-repeat: no-repeat;
    width: 13%;
    height: 4%;
  }

/* ------------------- CAROUSEL ------------------- */


.carousel-item{
  max-height: 500px;
}

/* ------------------- FAQ ------------------- */

.faq > ul > li {
    margin: 5% auto;
}

.faq-tit {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2%;
    color: #39911b;
}

/* ------------------- CONTACTO ------------------- */

.contact-form > .form-floating {
  margin-top: 10px;
}

.contact-form {
  max-width: 800px;
  margin: 5% auto;
}
/* ------------------- FOOTER ------------------- */

.footer {
    height: 25vh;
    position: relative;
    position: -webkit-sticky; /* Safari */
    bottom: 0px;
    width: 100%;
    text-align: center;
  }
  
.footer-content{
    background-color: black;
}

.footer-title{
    text-shadow: none;
    font-size: 2rem;
    color: white;
}

.footer-ul {
display: inline-flex;
padding-left: 0;
}

.footer-ul > li {
display: inline-block;
}
  
.footer-icon {
    color: #fff;
    margin: 0 10px;
    font-size: 2rem;
}

.footer-icon:hover{
    color: #d93b95;
}

/* FOOTER WAVES */

.waves-background{
  background-color: #39911b;
}

.flex-waves-content { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.content-waves {
    display: block;
    position:relative;
    height:30vh;
    text-align:center;
}
  
.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}
  
/* Animation */
  
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
}