/* HEADER */

.title-txt{
    position: absolute;
    left: 25%;
    top: 5px;
}

.subtitle{
    margin-top: 10%;
}

/* LOGIN FORM */

.all-login-form {
    margin: 5% auto;
}

.forget{
    text-align: center;
    margin-top: 10px;
}

#login-form{
    display: block;
}

/* GESTION TABS CONTENT */

#gestion-tabs, 
#gestion-productos, 
#gestion-usuarios, 
#gestion-mensajes, 
#gestion-ventas{
    display: none;
}

.prod-grid-container {
    /* display: grid;
    grid-template-columns: auto 15%; */
    display: block;
  }
  

/* .prod-grid-header {
    grid-area: header;
}

.prod-grid-item {
padding: 20px;
} */

.table-buttons {
    position: fixed;
}

/* la lista que contiene las tabs*/
.gestion-tabs {
    margin: 2% auto;
}

.gestion-tabs li {
    margin: 0 auto;
}


/* la tabla de cada tab */
.table {
    width: 90%;
    margin: 0 1%;
    display: block;
    width: 90%;
    white-space: nowrap;
    overflow-x: scroll;
}

.table::-webkit-scrollbar {
}

.fixed-col {
    position: absolute;
    display: block;
    right: 2%;
    overflow: hidden;
    padding: 0 50px;
  }

/* edit button en tabla */
.fixed-col2, 
.fixed-col3 {
    position: absolute;
    display: block;
    overflow: hidden;
    padding: 0 50px;
}

.fixed-col2{
    right: 5%;
}

/* delete button en tabla */
.fixed-col3{
    right: 0%;
}

.table-img {
    height: 70px;
}